<div class="container">
  <div class="row">

    <div *ngIf="isAccept" class="alert alert-success" role="alert">
    <strong>Accept is submitted</strong><br>

    Item accepting entry is succefully recorded.

    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Tracking ID</td>
          <td>334</td>
        </tr>
        <tr>
          <td>Item Type</td>
          <td>Parcel</td>
        </tr>
        <tr>
          <td>Sender Address</td>
          <td>Janaka Chathuranga, 253/A, Paleegala, Eheliyagoda.</td>
        </tr>
        <tr>
          <td>Reciever Address</td>
          <td>WSO2 Inc, Palm Grove, Kollupitiya.</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>230g</td>
        </tr>
      </tbody>
    </table>


    </div>

    <div *ngIf="isChecking" class="alert alert-info" role="alert">
    <strong>Checking is submitted.</strong>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Tracking ID</td>
          <td>334</td>
        </tr>
        <tr>
          <td>Item Type</td>
          <td>Parcel</td>
        </tr>
        <tr>
          <td>Sender Address</td>
          <td>Janaka Chathuranga, 253/A, Paleegala, Eheliyagoda.</td>
        </tr>
        <tr>
          <td>Reciever Address</td>
          <td>WSO2 Inc, Palm Grove, Kollupitiya.</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>230g</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div *ngIf="isDeliver" class="alert alert-warning" role="alert">
    <strong>Deliver is submitted</strong>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Tracking ID</td>
          <td>334</td>
        </tr>
        <tr>
          <td>Item Type</td>
          <td>Parcel</td>
        </tr>
        <tr>
          <td>Sender Address</td>
          <td>Janaka Chathuranga, 253/A, Paleegala, Eheliyagoda.</td>
        </tr>
        <tr>
          <td>Reciever Address</td>
          <td>WSO2 Inc, Palm Grove, Kollupitiya.</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>230g</td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>


</div>
