<div class="container">
  <div class="row">

    <div *ngIf="isAccept" class="alert alert-success" role="alert">
    <strong>Accept is submitted</strong>
    You successfully read this important alert message.
    </div>

    <div *ngIf="isChecking" class="alert alert-success" role="alert">
    <strong>Checking is submitted</strong>
    You successfully read this important alert message.
    </div>

    <div *ngIf="isDeliver" class="alert alert-success" role="alert">
    <strong>Deliver is submitted</strong>
    You successfully read this important alert message.
    </div>

  </div>


</div>
