<div class="card card-block">
  <h3>Today Stats</h3><br>


  <ul class="list-group">
    <li class="list-group-item list-group-item-warning">
      Accepted Items
    </li>
    <li class="list-group-item">
      <span class="tag tag-default tag-pill pull-xs-right">14</span>
      Normal Letters
    </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-xs-right">2</span>
    Parcels
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-xs-right">1</span>
    Registered Letters
  </li>
</ul>
<br>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    Checkins
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-xs-right">33</span>
    Normal Letters
  </li>
<li class="list-group-item">
  <span class="tag tag-default tag-pill pull-xs-right">21</span>
  Parcels
</li>
<li class="list-group-item">
  <span class="tag tag-default tag-pill pull-xs-right">12</span>
  Registered Letters
</li>
<li class="list-group-item">
  <span class="tag tag-default tag-pill pull-xs-right">1</span>
  Speed Mail
</li>
</ul>

<br>

<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    Delivered Items
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-xs-right">14</span>
    Normal Letters
  </li>
<li class="list-group-item">
  <span class="tag tag-default tag-pill pull-xs-right">1</span>
  Registered Letters
</li>
</ul>


</div>
